name: debian-docker-image-build

on:
  push:
  schedule:
    - cron: '0 */8 * * *'

jobs: 
  debian-docker-image-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: docker login
        run: docker login -u ${{ secrets.DOCKERUSERNAME }} -p ${{ secrets.DOCKERAPIKEY }}
      - name: treehouses debian
        run: |
          export DOCKER_CLI_EXPERIMENTAL=enabled
          repo="rjole/debian"
          source sha_function.sh
          debian_x86_sha=$(get_variant_sha "amd64/debian" "buster")
          echo "debian amd64"
          echo $debian_x86_sha
          variant_debian_x86_sha=$(get_manifest_sha "$repo:latest" "amd64")
          echo "treehouses/debian amd64"
          echo $variant_debian_x86_sha
          balena_rpi_sha=$(get_tag_sha "arm64v8/debian" "buster-slim")
          echo $balena_rpi_sha
          variant_rpi_sha=$(get_manifest_sha "$repo:latest" "arm64")
          echo $variant_rpi_sha
          debian_arm64_sha=$(get_variant_sha "arm64v8/debian" "buster-slim")
          echo $debian_arm64_sha
          variant_debian_arm64_sha=$(get_manifest_sha "$repo:latest" "arm64")
          echo $variant_debian_arm64_sha
          flag=$(compare_sha  "$debian_x86_sha" "$variant_debian_x86_sha" "$balena_rpi_sha" "$variant_rpi_sha" "$debian_arm64_sha" "$variant_debian_arm64_sha")
          echo $flag
          tag="3.12-$(date +%Y%m%d%H%M)"
          tag2="latest"
          echo $tag
          docker manifest create $repo:$tag "arm64v8/debian@"$debian_x86_sha "balenalib/raspberry-pi-debian@"$balena_rpi_sha "arm64v8/debian@"$debian_arm64_sha
          docker manifest create $repo:latest "arm64v8/debian@"$debian_x86_sha "balenalib/raspberry-pi-debian@"$balena_rpi_sha "arm64v8/debian@"$debian_arm64_sha
          docker manifest annotate $repo:latest "balenalib/raspberry-pi-debian@"$balena_rpi_sha --arch arm
          docker manifest annotate $repo:$tag "arm64v8/debian@"$debian_arm64_sha --arch arm64
          docker manifest annotate $repo:latest "arm64v8/debian@"$debian_arm64_sha --arch arm64
          docker manifest annotate $repo:$tag "balenalib/raspberry-pi-debian@"$balena_rpi_sha --arch arm
          docker manifest inspect $repo:$tag
          docker manifest inspect $repo:$tag2
          if [[ $flag == true ]]; then
            docker manifest push $repo:$tag; docker manifest push $repo:$tag2
          else
            echo "no changes"
          fi

    